body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.42857143;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#app 
{
    height:100%;        
}   